// color

// font-family
$family-a-otf-jun-pro: "A-OTF-Jun34Pro-Medium";
$family-shirokuma: "001Shirokuma-Regular";
$family-annie-use-your-telescope: "Annie Use Your Telescope";

// ブレイクポイント
$breakpoint-up: (
  "min791": "screen and (min-width: 790px)",
  "bp790": "screen and (max-width: 790px)",
) !default;

// メディアクエリ
@mixin media($breakpoint: "bp390") {
  // デフォルトのブレイクポイントをbp390に変更
  $media-query: map-get($breakpoint-up, $breakpoint);

  @if $media-query {
    @media #{$media-query} {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}
